.small {
  margin: 20px auto;
  cursor: pointer;
  width: 40%;
  filter: sepia(1);
}

.big {
  cursor: pointer;
  box-shadow: 5px 5px 12px 2px gray;
  padding: 5px;
  margin: 20px;
  box-sizing: border-box;
}